.barra-lateral{
    min-height: 100vh;
}

.barra-lateral button{
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
}

.logo-admin:hover {
    background-color: #000000 !important;
}

.barra-lateral  button:hover {
    color: #ffffff !important;
    text-decoration: none !important;
    background-color: #92286E
}

.swiper-admin {
    width: 500px !important;
    height: 500px !important;
}

.btnEditDelete{
    position: absolute;
    margin-left: 20rem;
}

.loadIcon{
 font-size: 5rem;   
}