.somos2 {
    background: #4F2073;
    border-radius: 20px;
}

.tituloSecc2{
    color: #BF6DC4;
}

.descriSecc2{
    color: #FFFFFF;
}

.equipo {
    background: #8B286F;
    border-radius: 20px;
}

.itemPersona{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.itemsPersonas{
}

.imgItemPersona{
    border-radius: 10px;
}