.menu-icon {
    display: none;
}

.nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
    margin-right: 60px;
}

.nav-elements ul a {
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .nav-elements ul li:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .nav-elements {
        position: absolute;
        left: 0;
        top: 70px;
        background: linear-gradient(90deg, #92286E 0%, #461F73 100%);
        width: 0px;
        transition: all 0.3s ease-in;
        overflow: hidden;
        border-radius: 20px;
    }

    .nav-elements.active {
        width: 270px;
    }

    .nav-elements ul {
        display: flex;
        flex-direction: column;
    }

    .nav-elements ul li {
        margin-right: unset;
        margin-top: 22px;
    }

    .nav-elements ul a {
        font-weight: 700;
        font-size: 20px;
        color: #ffffff;
        text-decoration: none;
    }
}




/* Boostrap: */