.swiper {
    width: 300px;
    height: 300px;
}
/* .swiper:hover {
    width: 310px;
    height: 310px;
} */

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
}

.swiper-pagination-bullet-active{
    --swiper-pagination-color: #92286E;
}

.swiper-pagination{
    color: #92286E;
}

.rounded-top-left{
    border-top-left-radius: 1rem;
}

.rounded-top-rigth{
    border-top-right-radius: 1rem;
}

.rounded-bottom_1rem{
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.iconos-novedades{
    font-size: 2rem;
    color: white;
}

@media (max-width: 1200px) {
    .swiper {
        width: 250px;
        height: 250px;
    }
    .swiper:hover {
        width: 250px;
        height: 250px;
    }
    .rounded-top-left,.rounded-top-rigth,.item2-convo{
       /*  border-radius: 1rem;  */
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    /* .rounded-top-left:active{
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
    } */
}
