/* xs */
.swiper-button-next,
.swiper-button-prev {
    --swiper-navigation-color: #92286E;
    margin: 2rem;
}

.swiper-pagination{
    color: #92286E
}

.swiper-pagination-bullet-active {
    background-color: #92286E !important;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}
  
.react-player {
    position: absolute;
    top: 0;
    left: 0;
}
  
.bgDescripcion{
    background: rgba(0, 0, 0, 0.7);
}

@media (max-width: 992px) {
    .swiper-button-next,
    .swiper-button-prev{
        opacity: 0%;
    }
    .swiper-button-next.swiper-button-disabled, 
    .swiper-button-prev.swiper-button-disabled {
        opacity: 0% !important;
    }
    .videotamaño{
        height: 1800px;
    }
}

/* sm */
/* @media only screen and (min-width: 576px) and (max-width: 768px) {

} */

/* md */
/* @media only screen and (min-width: 768px) and (max-width: 992px) {
    
} */

/* lg */
/* @media only screen and (min-width: 992px) and (max-width: 1200px) {

} */

/* xl */
/* @media only screen and (min-width: 1200px) and (max-width: 1400px) {

} */

/* xxl */
/* @media (min-width: 1400px) {

} */

