html{
  scroll-behavior: smooth;
}

.container {
  width: 1320px;
  margin: auto;
}

.menu{
  width: 1303px;
  margin: auto;
  margin-bottom: 60px;
}

.section{
  width: 1152px;
  margin: auto;
  margin-bottom: 150px;
}

.tituloSecc{
  font-size: 50px;
  color: #BF6DC4;
  margin-bottom: -20px;
}
.descriSecc{
  font-size: 25px;
  color: #FFFFFF;
}
